@charset "utf-8";

#write ul {
	margin-top: 5px;
	margin-left: 10px;
}

#write .title {
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5px;
}

#write input {
	width: 440px;
}

#write textarea { 
	width: 440px;
	font-family: Arial, Helvetica, sans-serif;
}

	#write .to {
		height: 35px;
		padding: 5px;
	}
	
	#write .mail {
		height: 275px;
		padding: 5px;
	}

.message-unread {
	font-weight: bold;
}